/* Modal.css */
.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  background-color: #ccc;
  padding: 20px;
  border-radius: 5px;
  color: black;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  color: white;
  transform: translateY(-100%);
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .modalContent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .closeBtn {
    color: black;
  }
}