/* Modal.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #ccc;
  padding: 20px;
  border-radius: 5px;
  color: black;
}

@media (prefers-color-scheme: light) {
  .modalContent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}